{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="row">
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.phone) }}
    {{ form_row(registrationForm.password) }}
    <button type="submit" class="btn btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
